.form {
  display: flex;
}

.search {
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  padding: 2rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
}

.btn {
  color: inherit;
  font-family: inherit;
  font-size: 2rem;
  min-height: 3rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  background-color: #9999cc;
  cursor: pointer;
  border: 1px solid #9999cc;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  outline: none;
}

.btn:hover {
  opacity: 0.95;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus-visible {
  outline: 5px dotted #0090c5;
}

@media (max-width: 400px) {
  .form {
    flex-direction: column;
    width: 100%;
  }

  .search {
    border-radius: 0.5rem;
  }

  .btn {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    min-height: 100%;
    border-radius: 0.5rem;
  }
}
