.list {
  list-style: none;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border-bottom: 1px solid #d4d4d4;

  display: flex;
}

.list:last-of-type {
  border-bottom: none;
}

.buttons {
  margin-left: auto;
}

.btn {
  margin-left: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #777;
}

.btnEdit:hover {
  color: #008bff;
}

.btnDelete:hover {
  color: #ed195a;
}

@media (max-width: 400px) {
  .btn {
    opacity: 0.5;
  }
  .btnEdit {
    color: #008bff;
  }

  .btnDelete {
    color: #ed195a;
  }

  .btnEdit:hover,
  .btnEdit:active {
    opacity: 1;
  }

  .btnDelete:hover,
  .btnDelete:active {
    opacity: 1;
  }
}
